
        body {
        min-height: 100vh;
        margin:0;
        padding: 180px 40px 40px 235px;
        overflow-y: auto;
        background-image: url(../images/purple-black-bg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        

      }

     
      .white-mode{
         background-image: url(../images/white-pink-bg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        color: black;
      }

      .white-mode button{
        background-color: white;
        color: black;
      }

      .white-mode i{
        color: black;
      }

      

      .white-mode .header{
        background-color: rgb(249, 209, 217);
        
      }

      .white-mode .header-btn{
        background-color: white;
        border: 2px solid black;
        color: black;
      }

      .white-mode .header2{
        background-color: rgba(233, 197, 203, 0.5);
      }

      .white-mode .sidebar{
        background-color:  rgba(233, 197, 203, 0.5);
        color: black
      }
      .white-mode .sidebar-toggle{
        background-color: rgb(232, 197, 203);
      }

      .white-mode .sidebar-input-cont{
        background-color: rgb(255, 220, 227);
      }

      .white-mode .sidebar-input{
        background-color: white;
        color: black
      }

      .white-mode .sidebar-input:focus{
        outline: 2px solid black;
      }

      .white-mode .sidebar-bar{
        background-color: pink;
      }

      .white-mode .sidebar-bar::-webkit-slider-thumb{
        background-color: rgb(254, 81, 110);
      }

      .white-mode .sidebar-checkbox{
        border: 2px solid pink;
      }

      .white-mode .sidebar-checkbox:checked{
        background-color: rgb(247, 57, 89);
      }

      .white-mode  .sidebar-checkbox:checked::after{
        color: white;
      }

      .white-mode .sidebar::-webkit-scrollbar-track{
        background: white;
      }

      .white-mode .sidebar::-webkit-scrollbar-thumb{
        background: pink;
      }

      .white-mode .sidebar::-webkit-scrollbar-thumb:hover{
        background: rgb(248, 177, 189);
      }

      .white-mode .grid-box{
        background-color:  rgba(234, 188, 195, 0.5);
        backdrop-filter: none;
      }

      .white-mode .details-cont{
        background-color: rgba(247, 168, 181, 0.347);
        color: black;
       
      }

      .white-mode .page-container{
        background-color: white;
      }

      .white-mode .back-next-btn{
        background-color: pink;
        color: black;
      }

      .white-mode .page-btn{
        background-color: rgb(248, 171, 184);
        color: black;
      }

      .white-mode .active{
        background-color: rgb(251, 126, 147);
        color: black;
      }

      .white-mode .fa-cart-shopping{
        color: black;
      }

      .white-mode .cart-quantity{
        background-color: white;
        color: black;
      }
      
      .sidebar-toggle{
        background-color: rgb(80, 3, 80);
        border: 2px solid black;
        width: 60px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-radius: 40px;
        margin-left: 10px;
        
      }
      .fa-toggle-on{
        color: white;
        cursor: pointer;
      }


      .sidebar{
        position: absolute;
        left:0;
        top: 180px;
        max-height: calc(100vh - 160px);
        width: 220px;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        overflow-y: auto;
        transition: transform 0.3s ease;
        box-sizing: border-box;
        border: 2px solid purple;
        font-family: Cinzel Decorative;
       

      }

      .sidebar-btn{
        width: 100px;
        padding: 5px 8px;
        background-color: purple;
        border: 2px solid black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
        margin-left: 40px;
        font-family: Macondo;
        
      }

     
      .sidebar-input{
        background-color: black;
        height: 30px;
        border: 1px solid rgb(168, 2, 168);
        margin-top: 10px;
        color: white;
        cursor: pointer;
      }

      .sidebar-input:focus{
        outline: 2px solid rgb(239, 4, 239);
      }

      .sidebar-select option{
        background-color: black;
      }


      .sidebar-bar{
        appearance: none;
       background-color: rgb(243, 9, 243);
        height: 10px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
      }

     .sidebar-bar::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: purple;
        border-radius: 50%;
        cursor: pointer;

      }

      .sidebar-checkbox{
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: rgb(255, 253, 253);
        border: 2px solid purple;
        margin-left: 5px;
        position: relative;
        cursor: pointer;
      }

      .sidebar-checkbox:checked{
        background-color: black;
      }

      .sidebar-checkbox:checked::after{
        content: '\2713'; 
        color: rgb(253, 76, 241);
        position: absolute;
        left:2px;
        top:-5px;
        font-size: 20px;

      }

      .sidebar::-webkit-scrollbar{
        width: 12px;
        cursor: pointer;
      }

      .sidebar::-webkit-scrollbar-track{
        background: rgba(128, 0, 128, 0.304);
        border-radius: 10px;
        
      }

      .sidebar::-webkit-scrollbar-thumb{
         background: rgb(243, 9, 243); 
          border-radius: 10px;
          border: 2px solid rgb(46, 46, 46); 
          cursor: pointer;
      }

      .sidebar::-webkit-scrollbar-thumb:hover{
         background: rgb(200, 0, 200);
      }

      .sidebar-input-cont{
        background-color: black;
        height: 100px;
        box-sizing: border-box;
        padding: 10px;
      }

      .search-cont, .category-cont, .company-cont, .sort-cont, .price-cont{
        display: flex;
        flex-direction: column;
        
       
      }

      .shipping-cont, .featured-cont{
        display: flex;
        align-items: center;
        
      }

      .price-container{
        display: flex;
        justify-content: space-between;
        
      }


      p{
        margin: 0;
      }
        .header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        height: 70px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
      

      }

      .right-section{
        display: flex;
        gap:25px;
        margin-right: 25px;
        justify-content: center;
        align-items: center;
        font-family: Mystery Quest;
      }

    
      .left-section{
        margin-left: 25px;
        display:flex;
        align-items: center;
       /* background-color: aqua;*/
        width: 550px;
        height: 50px;
        font-family: Mystery Quest;
      }

      .witch-hat{
        height: 100%;
        width: 10%;
        object-fit: contain;
      }


      .header2{
        position: absolute;
        top:90px;
        left:0;
        right:0;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.324);
       /* background-color: aqua;*/
        z-index: 999;
        display: flex;
       justify-content: space-between;
        align-items: center;
        gap:20px;
        padding-right: 20px;
      }

      .header-btn-cont{
       /* margin-right: 400px;*/
        display: flex;
        gap: 25px;

        
      }

      .header-btn{
        color: white;
        background-color: rgb(80, 3, 80);
        border: 2px solid rgb(172, 133, 177);
        font-size: 12px;
        padding: 12px 25px;
        border-radius: 55px;
        cursor: pointer;
        font-family: Macondo;
        font-size: 14px;
      }

      .sun-cart-cont{
        margin-right: 5px;
      }

    
      .grid-container{
        width: 1000px;
        min-height: 500px;
       /* background-color: rgb(244, 235, 224);*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 30px;
        transition: transform 0.3s ease, width 0.3s ease, column-gap 0.3s ease, min-height 0.3s ease;
        
      }

      .grid-box{
        background-color: rgba(64, 6, 103, 0.24);
       /* backdrop-filter: blur(5px);*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        cursor: pointer;
        border: 2px solid purple;
        box-shadow: 0 0 10px rgb(217, 3, 217);
        font-family: IM Fell English SC;
        font-size: 18px;
        font-weight: 500;
        box-sizing: border-box;
        transition: scale 0.3s ease, box-shadow 0.3s ease;
        
      }

      .grid-box:hover{
        box-shadow: 0 0 10px rgb(236, 176, 244);
        scale: 1.02;
      }

      .image-cont{
       /* background-color: aquamarine;*/
        margin: 10px;
        height: 220px;
        width: 300px;
        border: 2px solid rgb(91, 2, 91);
        

        
      }

      .image{
        width:100%;
        height: 100%;
        object-fit: contain;
        
      }

      .details-cont{
      background-color: rgba(0, 0, 0, 0.247);
      height: 210px;
      width: 300px;
        margin: 5px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        color: white;
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid rgb(84, 1, 84);
      }

      .prod-price{
        
        font-size: 18px;
      }

      .prod-category{
        font-size: 15px;
      }

     
      .fa-cart-shopping{
        position: relative;
        color: rgb(232, 227, 227);
        font-size: 18px;
        margin-left: 10px;
      }

      .cart-quantity{
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgb(75, 1, 75);
        top: 5px;
        right:10px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
      }
      .rating-cont-main{
       
        display: flex;
        flex-direction: column;
      }

      .rating-num{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .page-container{
       /* position: absolute;
        bottom: -1000px;
        right: 10px;*/
        display: flex;
        width: 300px;
        height: 60px;
       background-color:rgb(0, 0, 0);
        margin-top: 50px;
        gap:15px;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
       padding: 10px;
      
        
      
      }

      .back-next-btn{
         color: white;
        background-color: rgb(117, 4, 117);
        border: 2px solid black;
        padding: 10px 15px;
        cursor: pointer;
        font-family: Macondo;
      }

      .page-btn{
        padding: 10px;
        color: white;
        background-color: rgb(80, 3, 80);
        border: 2px solid black;
        cursor: pointer;
        font-family: Macondo;
        
      }

      .active{
        background-color: rgb(247, 9, 247);
        color: white;
      }

      .prod-tooltip{
        position: absolute;
        z-index: 2;
        color: white;
        background-color: black;
        border: 2px solid rgb(226, 6, 226);
        padding: 5px 10px;
        pointer-events: none;
        display: none;
        border-radius: 5px;
        box-shadow:0 0 10px rgba(245, 120, 245, 0.61);
        font-size: 14px;
        font-family: IM Fell English SC;
        font-weight: bold;
        
      }

  

   
      


  